UPOCarAuto/src/conf/xml-resources/web-service-references/NotificacionReservaService/wsdl/localhost_8080/UPOCarAuto_NotificacionWS/NotificacionReservaService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:element name="notificarReserva" type="tns:notificarReserva"/>

<xs:element name="notificarReservaResponse" type="tns:notificarReservaResponse"/>

<xs:complexType name="notificarReserva">
<xs:sequence>
<xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
<xs:element name="correoCliente" type="xs:string" minOccurs="0"/>
<xs:element name="nombreEmpleado" type="xs:string" minOccurs="0"/>
<xs:element name="correoEmpleado" type="xs:string" minOccurs="0"/>
<xs:element name="detalle" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="notificarReservaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>